{% if page.skills %}
<section class="cv section skills-section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
    <div class="skillset">
        {% for item in page.skills %}
        <div class="item"><h3 class="level-title">{{ item.title }}</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="{{ item.level | times: 10 }}%" style="width: {{ item.level | times: 10 }}%;"></div>
            </div><!--//level-bar-->
        </div><!--//item-->
        {% endfor %}
    </div>
</section>
{% endif %}
