$theme-color: #6E6E6E;

.cv {
  background: #FFFFFF;
  .section-title {
    color: darken($theme-color, 15%);
    margin-bottom: 20px;
    .fa {
      width: 30px;
      height: 30px;
      margin-right: 8px;
      display: inline-block;
      color: #fff;
      border-radius: 10%;
      background: darken($theme-color, 15%);
      text-align: center;
      padding-top: 8px;
      font-size: 16px;
      position: relative;
      top: -2px;
    }

  }
  .section {
    margin-bottom: 60px;
  }

  .experiences-section {
    .item {
      margin-bottom: 30px;
    }
  }
  .upper-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
  }
  .job-title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }
  .time {
  }
  .company {
    margin-bottom: 10px;
    font-weight: 700;
  }

  .project-title {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .projects-section {
    .intro {
      margin-bottom: 30px;
    }
    .item {
      margin-bottom: 15px;
    }
  }
}
